header  {

    position: relative;
    background-image: url("../img/header3.jpg");
    width: 100vw;
    height: 250px;
    top: 0%;
    right: 0%;
    left: 0%;
     
    
    
 

}

h1.title {

    text-align: center;
    color: hsl(39, 72%, 52%);
    position: relative;
    top: 50px;
    font-family: sans-serif;
    font-size: 70px;
    text-shadow: 4px 4px 5px #000000;
    
    
    
}

/* h2.subtitle {

    color: antiquewhite;
    text-align: center;
    position: relative;
    top: 25px;
    font-family: sans-serif;
    font-size: 20px; 

} */


input.searchbar {

    height: 45px;
    width: 400px;
    position: relative;
    left: 610px;
    top: 40px;
    box-sizing: border-box;
    border: solid rgb(175, 136, 69);
    border-radius: 10px;
    

}

div.buttons_icons {


    width
}

div.icons {

    width: 100vw;
    position: relative;
    font-size: 20px;
    
}

div.slider {

    position: relative;
    top: -650px;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    text-shadow: 4px 4px 4px #000000;
    color: darkgray;

}

div.list {

    width: 500px;
    position: relative;
    top: -500px;
    left: 800px;
    font-family: sans-serif;
    font-size: 23px;
    text-shadow: 2px 2px 4px #000000;
    color: darkgray;



}

p.prueba {

    color: white;
    font-family: sans-serif;
    
}




