header {

    width: 100%;
    height: 216px;
    
    background-image: url("https://www.hdwallpapers.in/walls/3d_cubes-HD.jpg");
    


}

h1{
    
    text-align: center;
    color: antiquewhite;
    
    

}
h2{
    
    text-align: center;
    color: antiquewhite;
    

}

