header  {

    width: 100%;
    height: 216px;
    background-image: url("../img/header2.jpg");
    

    

}

h1 {

    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    color: antiquewhite;
    
}

h2 {
    
    text-align: center;
    color: antiquewhite;

}


div {

    background-color: #1a1a1a;
    width: 100%; 
    height: 2px;
     
}


