body {

    background-color: rgb(41, 41, 41);
    
    

    
}


header  {

    position: relativegit;
    background-image: url("../img/fox.jpg");
    width: 100vw;
    height: 250px;
    top: -47px;
    right: 0%;
    left: 0%;
     
}

@font-face {

    font-family: Games;
    src: url("../fonts/Games.ttf");
}

h1.title {

    color: rgb(255, 255, 255);
    position: relative;
    width: 50vw;
    top: 50px;
    left: 215px;
    font-family: Games;
    font-size: 70px;
    text-shadow: 4px 4px 5px #000000;
    margin: auto;
    
    
    
    
}

/* h2.subtitle {

    color: antiquewhite;
    text-align: center;
    position: relative;
    top: 25px;
    font-family: sans-serif;
    font-size: 20px; 

} */


 input[type=text] {

    position: relative;
    top: 85px;
    left: 770px;
    width: 220px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    background-color: white;
    background-image: url("../img/searchIcon.png");
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    opacity: 0.6;
    
}

input[type=text]:focus {
    width: 15%;
}

   /* height: 45px;
    width: 400px;
    position: relative;
    left: 750px;
    top: 40px;
    box-sizing: border-box;
    border: solid whitesmoke;
    border-radius: 50px;
    opacity: 0.5; 

    
    
    
}*/

hr {

    position: relative;
    width: 80vw;
    top: 70px;
    

}




div.icons {

    position: relative;
    width: 1300px;
    top: -90px;
    left: 350px;
    z-index: -1; 
}

h2.slider {

    position: relative;
    top: -100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
    text-shadow: 4px 4px 4px #000000;
    color: darkgray;

}

ul.descriptionList {

    width: 500px;
    position: relative;
    top: 70px;
    left: 1100px;
    font-family: sans-serif;
    font-size: 23px;
    text-shadow: 2px 2px 4px #000000;
    color: darkgray;



}

div.gameLogo {

    position: relative;
    background-image: url("../img/evoland2.jpg");
    width: 620px;
    height: 350px;
    top: -230px;
    left: 250px;
    
}




