body {

    background-color: rgb(41, 41, 41);
}


header  {

    position: relative;
    background-image: url("../img/header3.jpg");
    width: 100vw;
    height: 250px;
    top: -47px;
    right: 0%;
    left: 0%;
     
}

h1.title {

    color: hsl(39, 72%, 52%);
    position: relative;
    width: 50vw;
    top: 50px;
    left: 700px;
    font-family: sans-serif;
    font-size: 70px;
    text-shadow: 4px 4px 5px #000000;
    
    
    
}

/* h2.subtitle {

    color: antiquewhite;
    text-align: center;
    position: relative;
    top: 25px;
    font-family: sans-serif;
    font-size: 20px; 

} */


input.searchbar {

    height: 45px;
    width: 400px;
    position: relative;
    left: 750px;
    top: 40px;
    box-sizing: border-box;
    border: solid rgb(175, 136, 69);
    border-radius: 10px;
    
}

hr {

    position: relative;
    width: 80vw;
    top: 57px;
    

}




div.icons {

    position: relative;
    width: 1300px;
    top: -100px;
    left: 350px;
    font-size: 20px;
    
}

h2.slider {

    position: relative;
    top: -100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
    text-shadow: 4px 4px 4px #000000;
    color: darkgray;

}

ul.descriptionList {

    width: 500px;
    position: relative;
    top: 70px;
    left: 1100px;
    font-family: sans-serif;
    font-size: 23px;
    text-shadow: 2px 2px 4px #000000;
    color: darkgray;



}

div.gameLogo {

    position: relative;
    background-image: url("../img/evoland2.jpg");
    width: 620px;
    height: 350px;
    top: -230px;
    left: 250px;
    
}




