div.background {

    width: 100%;
    height: 1200px;
    background-color: #151515;

}




header  {

    position: absolute;
    left: 0%;
    bottom: 0%;
    right: 0%;
    top: 0%;
    width: 100%;
    height: 250px;
    background-image: url("../img/header3.jpg");


    

}

h1.title {

    text-align: center;
    color: hsl(39, 72%, 52%);
    position: relative;
    top: 10px;
    font-family: sans-serif;
    font-size: 70px;
    text-shadow: 4px 4px 5px #000000;
    
    
    
}

/* h2.subtitle {

    color: antiquewhite;
    text-align: center;
    position: relative;
    top: 25px;
    font-family: sans-serif;
    font-size: 20px; 

} */


input.searchbar {

    height: 45px;
    width: 400px;
    position: absolute;
    left: 755px;
    top: 180px;
    box-sizing: border-box;
    border: solid rgb(175, 136, 69);
    border-radius: 10px;
    

}

div.line {

    width: 1500px;
    position: absolute;
    top: 400px;
    left: 200px;

}

div.buttons_icons {


    width
}

div.icons{

    width: 100%;
    position: absolute;
    top: 260px;
    left: 340px;
    font-size: 20px;
    
}

div.slider {

    position: relative;
    top: -650px;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    text-shadow: 4px 4px 4px #000000;
    color: darkgray;

}

div.list {

    position: relative;
    top: -500px;
    left: 1000px;
    font-family: sans-serif;
    font-size: 23px;
    text-shadow: 2px 2px 4px #000000;
    color: darkgray;



}

p.prueba {

    color: white;
    font-family: sans-serif;
    
}




