html{

    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {

    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
body{

    background-color: rgb(41, 41, 41);
    
}
header {
    
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url("../img/steamlogo1.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 280px;
    
}
@font-face {

    font-family: Montserrat-Light;
    src: url("../fonts/Montserrat-Light.ttf");
}
input.searchbar {
    
    width: 220px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px;
    border: none;
    font-family: Montserrat-Light;
    font-size: 15px;
    background-image: url("../img/searchIcon.png");
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    opacity: 0.6;
    
}
input.searchbar:hover {

    width: 350px;
}
div.menu {

    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
div.platform  {

    display: flex;
    align-content: space-between;
    justify-content: space-between;
    width: 65%;
}
div.platform i {
    
    font-size: 40px;
    color: white;
    text-shadow: 5px 4px 5px #000000;
    margin-bottom: 5px;
}
div.platform-line {

    width: 80%;
}
div.platform-line hr {

    border:none;
    height: 25px;
	height: 50px;
	margin-top: 0;
	box-shadow: 0 20px 20px -20px white;
    margin: -50px auto 10px; 
}