html {
    overflow: scroll;
    overflow-x: hidden;

}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */

}

body {

    background-color: rgb(41, 41, 41);
}




header  {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    background-image: url("../img/fox.jpg");
    width: 100vw;
    height: 250px;
    flex-direction: column;
    
     
}

@font-face {

    font-family: Games;
    src: url("../fonts/Games.ttf");
}

h1 {

    
    position: relative;
    justify-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Games;
    font-size: 80px;
    text-shadow: 4px 4px 5px #000000;
    
}

/* h2.subtitle {

    color: antiquewhite;
    text-align: center;
    position: relative;
    top: 25px;
    font-family: sans-serif;
    font-size: 20px; 

} */


 input.searchbar {
    margin: auto;
    position: relative;
    width: 220px;
    top: -20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: white;
    background-image: url("../img/searchIcon.png");
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    opacity: 0.5;
    
}

input.searchbar:hover {
    width: 400px;
}

   /* height: 45px;
    width: 400px;
    position: relative;
    left: 750px;
    top: 40px;
    box-sizing: border-box;
    border: solid whitesmoke;
    border-radius: 50px;
    opacity: 0.5; 

    
    
    
}*/

div.platforms {

    display: flex;
    align-content: center;
    position: relative;
    width: 100vw;
    z-index: -1; 
    
}

div.platforms hr {
    align-items: center;
    position: relative;
    width: 80vw;
    flex-direction: column;
}

h2.slider {

    position: relative;
    top: -100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
    text-shadow: 4px 4px 4px #000000;
    color: darkgray;

}

ul.descriptionList {

    width: 500px;
    position: relative;
    top: 70px;
    left: 900px;
    font-family: sans-serif;
    font-size: 23px;
    text-shadow: 2px 2px 4px #000000;
    color: darkgray;



}

div.gameLogo {

    position: relative;
    background-image: url("../img/evoland2.jpg");
    width: 620px;
    height: 350px;
    top: -230px;
    left: 210px;
    
}




