html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
body {

    background-color: rgb(41, 41, 41);
}
header  {

    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url("../img/fox.jpg");
    width: 100vw;
    height: 250px;
    flex-direction: column;
}

@font-face {

    font-family: Montserrat-Light;
    src: url("../fonts/Montserrat-Light.ttf");
}
h1 {

    color: rgb(255, 255, 255);
    font-family: Montserrat-Light;
    font-size: 70px;
    text-shadow: 5px 5px 6px #000000;
}
/* h2.subtitle {

    color: antiquewhite;
    text-align: center;
    position: relative;
    top: 25px;
    font-family: sans-serif;
    font-size: 20px; 
} */
input.searchbar {
    
    width: 220px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-family: Montserrat-Light;
    font-size: 16px;
    background-color: white;
    background-image: url("../img/searchIcon.png");
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    opacity: 0.5;
}
input.searchbar:hover {
    width: 400px;
}
div.menu {

    
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    position: relative;
    width: 60vw;
}
div.platform i {

    position: relative;
    font-size: 40px;
    color: lightgray;
    text-shadow: 5px 4px 5px #000000;
    
}
div.line hr {
    position: relative;
    width: 80%;
    
}
div.sliderLogo {
    display: flex;
    flex-direction: row;
    width: 50vw;
    margin: 0;
}
div.sliderLogo video {

    position: relative;
    background-image: url("../img/evoland2.jpg");
    width: 620px;
    height: 350px;
    margin: 100px 15px 0px 200px;
}
div.slider {

    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    width: 50vw;
    height: 700px;
    margin: 0;
}
div.slider h2 {

    position: relative;
    height: 35px;
    order: 2;
    font-family: Montserrat-Light;
    font-size: 35px;
    text-shadow: 2px 2px 4px #000000;
    color: darkgray;
    flex-direction: column;
    justify-content: flex-end;
    margin: 30px;
}
div.slider ul {

    position: relative;
    height: 120px;
    font-family: Montserrat-Light;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
    color: darkgray;
    flex-direction: column;
    }





