html{

    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {

    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
body{

    background-color: rgb(41, 41, 41);
}
header {
    
    display: flex;
    align-items: center;
/*  justify-content: center; */
    background-image: url("../img/fox.jpg");
    width: 100vw;
    height: 280px;
    flex-direction: column; 
}
@font-face {

    font-family: Montserrat-Light;
    src: url("../fonts/Montserrat-Light.ttf");
}
h1 {
    color: rgb(255, 255, 255);
    font-family: Montserrat-Light;
    font-size: 70px;
    text-shadow: 5px 5px 6px #000000;
}
input.searchbar {
    
    width: 220px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px;
    border: none;
    font-family: Montserrat-Light;
    font-size: 15px;
    color: black; opacity: 0;
 /* background-color: white; */
    background-image: url("../img/searchIcon.png");
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    opacity: 0.6;
}
input.searchbar:hover {
    width: 350px;
}
div.menu {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.platform  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 10%;
}
div.platform i {
    
    font-size: 40px;
    color: white;
    text-shadow: 5px 4px 5px #000000;
    margin: 0 70% 0 70%;
}
div.line {
    width: 80%;
}
div.main-content {
    display: flex;
    justify-content: space-around;
    
}
div.game-logo video {

    background-image: url("../img/evoland2.jpg");
    width: 620px;
    height: 350px;
    margin: 30px 0 0 15%;
}
div.game-description {
    display: flex;
    flex-direction: column;
}
div.game-title {

    
}
div.game-title h2 {

    font-family: Montserrat-Light;
    font-size: 35px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
}
div.description-list {

}
ul {

    font-family: Montserrat-Light;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
}
