body {
    margin: 0;
    padding: 0;
    background-color: slategrey;
}

.main {
    
    position: relative;
    width: 435px;
    top: 80px;
    left: 30%;
    padding: 20px;
    
    background-color: darkgrey;
    
}


input.button {
    width: 100px;
    height: 100px;
    font-size: 50px;
    margin: 2px;
    cursor: pointer;
    background-color: #56638A;
    color: lightskyblue;
    border-width: 2px;
    border-radius: 25px;
    border-color: blue;
} 

@font-face {
    font-family: digital;
    src: url("../fonts/digital.ttf");
}


input#display {
    background-color: #63A088;
    width: 400px;
    margin: 15px;
    font-family: digital;
    font-size: 60px;
    padding: 5px;
    text-align: right;
    border-radius: 20%;
}

